* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  color: $color-primary;

  @include xxl {
    max-width: 2160px;
    margin: 0 auto;
  }
}
