.section {
  @include flexbox-vrt(10px);
  padding-top: $padding-gen;
  padding-bottom: calc(6 * $padding-gen);

  .container {
    @include flexbox-hrz(20px);
    flex-wrap: wrap;
    padding: $padding-gen calc(3 * $padding-gen);

    .port {
      width: 100%;
      @include flexbox-hrz(20px);
      flex-wrap: wrap;

      .portTitle {
        width: 100%;
        background-color: $color-primary;
        color: $color-secondary;
        padding: $padding-lg;
      }
    }
  }

  .rowContainer {
    width: 100%;
    position: relative;
    padding: calc(3 * $padding-gen) 0;

    .row {
      padding: 0 calc(6 * $padding-gen);
      width: 100%;
      @include flexbox-vrt(10px);
      z-index: 10;

      .dropdownContainer {
        background-color: white;
        position: relative;
        width: 300px;
        border: 1px solid $color-primary;
        cursor: pointer;
        z-index: 10;

        &.disabled {
          opacity: 0.5;
          cursor: auto;
        }

        .menu {
          padding: $padding-md;
          @include flexbox-hrz-space-between;

          &.openMenu {
            border-bottom: 1px solid $color-primary;
          }

          .icon {
            transition: all 0.2s ease-in-out;
            height: 100%;
            @extend %center-content;

            &.openIcon {
              transform: rotate(180deg);
            }
          }
        }

        .dropdown {
          .list {
            .option {
              background-color: white;
              border-bottom: 1px solid $color-primary;
              padding: $padding-md;
              transition: all 0.35s ease-in-out;

              &:last-of-type {
                border-bottom: none;
              }

              &:hover,
              &:active {
                background-color: $color-primary;
                color: $color-secondary;
              }
            }
          }
        }

        @include lg {
          margin-top: 10px;
          margin-bottom: -30px;
        }

        @include xl {
          margin-top: 10px;
          margin-bottom: -30px;
        }

        @include xxl {
          margin-top: 10px;
          margin-bottom: -30px;
        }
      }

      @include lg {
        @include flexbox-hrz-space-between;
        position: absolute;
      }

      @include xl {
        @include flexbox-hrz-space-between;
        position: absolute;
      }

      @include xxl {
        @include flexbox-hrz-space-between;
        position: absolute;
      }
    }
  }

  .button {
    @include button;
    width: 300px;
  }

  .title {
    margin-bottom: -30px;
    width: 100%;
    padding: 20px 40px;
    text-align: left;

    @include md {
      margin-bottom: -60px;
    }

    @include lg {
      margin-bottom: -60px;
    }

    @include xl {
      margin-bottom: -60px;
    }

    @include xxl {
      margin-bottom: -60px;
      display: flex;
      justify-content: flex-start;
    }
  }

  @include lg {
    gap: 50px;
  }

  @include md {
    gap: 30px;
  }

  @include xl {
    gap: 50px;
  }

  @include xxl {
    gap: 50px;
  }
}
