.Header {
  background-color: $color-secondary;
  position: fixed;
  top: 0;
  height: 100px;
  padding: $padding-gen;
  z-index: 100;

  @include xs {
    height: 90px;
  }

  .content {
    width: 100%;
    height: 100%;
    @extend %center-content;
  }

  @include xxl() {
    max-width: 2160px;
    margin: 0 auto;
  }
}
